.input1 {
    composes: beauty from "../App.module.css";
    background-color: lightblue;
    border: 2px solid navy;
}

.input2 {
    composes: beauty from "../App.module.css";
    background-color: lightgreen;
    border: 2px solid darkgreen;
}

.input3 {
    composes: beauty from "../App.module.css";
    background-color: lightcoral;
    border: 2px solid brown;
}
