.wrapper {
  padding: 20px;
  border: 2px dashed teal;
  text-align: center;
  margin-top: 50px;
}

.btn1 {
  background-color: dodgerblue;
  color: white;
  padding: 10px 20px;
  margin: 10px;
  border: none;
  cursor: pointer;
}

.btn2 {
  background-color: tomato;
  color: white;
  padding: 10px 20px;
  margin: 10px;
  border: none;
  cursor: pointer;
}
